.loader {
  margin: 0 0 30px;
  text-align: center;
  display: none;
  span {
    font-size: 30px;
    display: inline-block;
    @include square(33px);
    &::before {
      @include make-linicon("\e8dd");
    }
  }
}
.pdf-loader {
  font-size: 15px;
  display: inline-block;
  @include square(15px);
  &::before {
    @include make-linicon("\e8dd");
  }
}