.ap-box {
  line-height: 1.429;
  margin-bottom: 35px;
  position: relative;
  font-size: 14px;
  .icon {
    display: block;
    font-size: 30px;
    margin-bottom: 18px;
    line-height: 1;
  }
  .ap-box-title {
    font-size: 20px;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 10px;
  }
  a {
    text-decoration: underline;
  }
  @media (min-width: $sp560) {
    float: left;
    width: 50%;
    margin-bottom: 25px;
  }
  @media (min-width: $sp560) and (max-width: $sp1130 - 1) {
    &:nth-child(odd) {
      padding-right: 25px;
    }
    &:nth-child(even) {
      padding-left: 25px;
    }
  }
  @media (min-width: $sp1130) {
    width: 25%;
    padding-left: 25px;
    padding-right: 25px;
    &:nth-child(4n+1) {
      padding-left: 0;
    }
    &:nth-child(4n) {
      padding-right: 0;
    }
  }
}
.feature-box {
  margin-bottom: 35px;
  > header {
    height: 45px;
    overflow: hidden;
    position: relative;
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 22px;
    &::before {
      position: absolute;
      top: 50%;
      left: 55px;
      content: "";
      width: 100%;
      height: 1px;
      background: #e6e6e6;
    }
    span {
      display: inline-block;
      @include square(45px);
      color: #fff;
      text-align: center;
      background: $color-red;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .feature-title {
    font-size: 20px;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 10px;
  }
  @media (min-width: $sp560) {
    font-size: 16px;
    .feature-title {
      margin-bottom: 15px;
    }
  }
  @media (min-width: $sp1130) {
    float: left;
    width: 50%;
    &:nth-child(odd) {
      padding-right: 25px;
    }
    &:nth-child(even) {
      padding-left: 25px;
      clear: right;
    }
  }
}
.ap-contacts {
  margin-bottom: 0;
  line-height: 30px;
  .icon {
    display: inline-block;
    font-size: 20px;
    margin: 0 5px 0 7px;
    vertical-align: middle;
  }
  a {
    white-space: nowrap;
  }
  @media (min-width: $sp1130) {
    display: inline-block;
  }
}
