.static-page-partners {
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  @include clearfix();
  .section-title {
    margin: 0 auto 30px;
    font-size: 30px;
    max-width: 235px;
    sup {
      color: $color-red;
      font-size: 12px;
      top: -1em;
    }
  }
  .loader {
    margin-bottom: 40px;
  }
  @media (min-width: $sp560) {
    .section-title {
      font-size: 48px;
      margin-bottom: 35px;
      max-width: none;
      sup {
        font-size: 16px;
        top: -1.3em;
      }
    }
    .loader {
      margin-bottom: 50px;
      span {
        font-size: 40px;
        @include square(40px);
      }
    }
  }
}
.partners-filter {
  padding-top: 20px;
  padding-bottom: 10px;
  background: #f2f2f2;
}
.partners-filter-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 235px;
  @include clearfix();
  li {
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    width: 100%;
    @include text-overflow();
    sup {
      color: $color-red;
    }
  }
  @media (min-width: $sp560) {
    width: 100%;
    li {
      width: 235px;
      float: left;
      &:nth-child(odd) {
        margin-right: 50px;
      }
    }
  }
  @media (min-width: $sp1130) {
    li {
      margin-right: 50px;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
.partners-section {
  background: #fff;
  padding-top: 40px;
  @media (min-width: $sp560) {
    padding-top: 50px;
  }
}
.partners-section {
  .partners-box {
    width: 235px;
    margin: 0 auto 36px;
    font-size: 12px;
    color: #999;
    a {
      color: inherit;
    }
    p {
      margin-bottom: 4px;
    }
    .partners-logo {
      border: 1px solid #e6e6e6;
      margin-bottom: 14px;
      white-space: nowrap;
      text-align: center;
      @include size(235px, 160px);
      padding: 20px;
      &::before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      img {
        vertical-align: middle;
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }
    }
    .partners-title {
      font-size: 16px;
      color: $text-dark-color;
      margin: 0 0 5px;
    }
    .partners-categories {
      list-style: none;
      padding: 0;
      margin: 0 0 6px;
      @include clearfix();
      li {
        float: left;
        font-size: 10px;
        border: 1px solid #d9d9d9;
        padding: 1px 5px;
        margin: 0 3px 3px 0;
      }
    }
    @media (min-width: $sp560) {
      float: left;
      margin-bottom: 46px;
      &:nth-child(odd) {
        margin-right: 50px;
      }
    }
    @media (min-width: $sp1130) {
      margin-right: 50px;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}